<div class="line">
  <div class = "box">
    <%= form_with(model:@event, url: guest_index_path, local: true) do |form| %>
    <div class="title">
        <%= form.label :名前 %>
        <%= form.text_field :name %>
      </div>

        <div class="title">
        <%= form.label :時間 %>
        <%= form.datetime_select :start_time %>
      </div>

      <div class="title">
        <%= form.label :人数 %>
        <%= form.text_field :member %>
      </div>

      <div class="title">
        <%= form.label :電話番号 %>
        <%= form.text_field :phone_number %>
      </div>

      <div class="title">
        <%= form.label :テキスト %>
        <%= form.text_field :content %>
      </div>


      <div class="submit">
        <%= form.submit %>
      </div>

    <% end %>
  </div>
</div>
