<div class="line">
  <div class = "box">
    <%= form_with(model: @message, url: message_index_path, local: true) do |form| %>
      
      <div class="title2">
        <%= form.label :message %>
        <%= form.text_area :message %>
      </div>

      <div class="title2">
        <%= form.label :start_time %>
        <%= form.datetime_select :start_time %>
      </div>


      <div class="submit">
        <%= form.submit %>
      </div>

    <% end %>
  </div>
</div>