<%= form_with(model:@event, local: true) do |form| %>
<div class="title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :member %>
    <%= form.text_field :member %>
  </div>

  <div class="content">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
